extends ../common
block common
    h1 Create User
    form(action="/users/create", method="POST", class="form-inline")
        label(class="form-control") name
        input(type="text", name="name", class="form-control")
        button(class="btn btn-success") Create