extends ../common
block common
    h2 this is users page

    a(href="/users/create" class="ml-3") New
    form(action="/users/search", method="GET", class="form-inline ml-3")
        input(type='text', name="q", class="form-control" )
        button(class="btn btn-success") Search
    ul
    each user in users
        li(style="list-style: none", class="ml-3")
            span= user.name 
            span &nbsp;
            a(href='users/' + user.id) view

